body {
    background-color: #efe8d5;
    margin: top;
}

header {
    z-index: 1;
}


a {
    text-decoration: none;
    color: #21a782;
}

ul {
    list-style-type: none;
}

/*Menu Header*/

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

/*Transformacion del menu*/
.menu__principal li {
    transition: transform 0.3s ease-in-out;
}

.menu__principal li:hover {
    transform: scale(1.2);
}

.logo{
    flex: 0 0 auto;
}

.logoinicio {
    width: 7rem;
    margin-top: 1rem;
}

.menu__principal {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
}

.menu li {
    list-style: none;
    margin: 0 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #21a782;
}

/*Section-Podcastintro*/

#podcastintro {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.gritoindex {
    max-width: 100%;
    display: flex;
    position: relative;
    margin: 0 0 auto;
}

.text__title {
    position:sticky;
    font-weight: bold;
    color: #21a782;
    font-size: 2rem;
    font-stretch: semi-expanded;
}

.text_apoyar {
    display: block;
}

.buttonaggro {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #e4a2a7;
    font-family: 'Montserrat', sans-serif;
    font-stretch: extra-condensed;
    color: #000;
}

/*Section-episodes*/
#episodes {
    width: 100%;
    display: flex;
    background-color: #21a782;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}



.episodes__text {
    display: flex;
    color: #e4a2a7;
    /*font-stretch: bold;*/
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    padding-top: 30px;
    margin: 0px auto;
}

/*.episodes__text h1 {
    display: flex;
    justify-items: center;
    position: absolute;
}*/

.episodes__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.episodes__img img {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-content: center;
}

.episodes__one {
    display: flex;
    padding: 1rem;
}

.episodes__two {
    display: flex;
    padding: 1rem;
}

.episodes__three {
    display: flex;
    padding: 1rem;
}

#episodes img {
    background-color: #21a782;
}

/*footer*/

.footer {
    z-index: 1;
    display: flex;
    height: 100px;
    background-color: black;
    opacity: 95%;
    margin: 0 auto;
}

.footertext {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-stretch: bold;
    color: #e4a2a7;
}

.footer p {
    width: 50%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}



/*Media Queries index*/
@media screen and (max-width: 768px) {
        #podcastintro {
            flex-direction: column;
        }
        #episodes {
            flex-direction: column;
            height: 100%;
        }
        .episodes__text {
            position: relative;
        }

        .episodes__img {
            flex-flow: column;
        }
}